<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicroHabit Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="dashboard-wrapper">
    <h1>Welcome to MicroHabit Dashboard</h1>

    <form method="POST" action="{{ url_for('dashboard.create_habit') }}">
        <input type="text" name="name" placeholder="Enter habit name" required>
        <button type="submit">Add Habit</button>
    </form>

    

   <h2>Habit List</h2>


   {% if habits %}
       <ul>
           {% for habit in habits %}
               <li>
                   {{ habit.name }}
                   {% if habit.completed_today %}
                       Yes
                   {% else %}
                       No
                   {% endif %}
                   {{ habit.streak }}
               </li>
           {% endfor %}
       </ul>
   {% else %}
       <p>No habits yet. Add one above </p>
   {% endif %}


   
</div>
</body>
</html>
